<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      ZipFlash - Java
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <button ion-button color="secondary" (click)='reset();'>Reset</button>
    <button ion-button color="secondary" (click)='next();'>Next >></button>
    <button ion-button color="secondary" (click)='randomize();'> Random! </button>
  <ion-slides #slides *ngIf="cardSupply && cardSupply.length" (ionSlideDidChange)="slideChanged()" (ionSlideNextEnd)="nextSlide()" (ionSlidePrevEnd)="prevSlide()"
    [initialSlide]="0">
		<ion-slide *ngFor="let current of cardSupply">
      <flash-card>
        <div class="flash-card-front">{{current.front}}</div>
        <div class="flash-card-back">{{current.back}}</div>
      </flash-card>
    </ion-slide>

  </ion-slides>

</ion-content>